# Example OpenTofu variable values
# Rename to tofu.tfvars and update with your actual values

project_id = "your-project-id"
project_number = "123123123123"
region = "us-central1"
firestore_location = "nam5"
storage_retention_days = 365
env = "dev"
